<div>
  
  <m-label-restriction [label]="label" [restriction]="restriction" [operators]="operators"></m-label-restriction>

  <div *ngIf="isOperatorTypeMultiple()" class="ui-g-12">
    <p-chips [(ngModel)]="restriction.values" allowDuplicate="false" addOnTab="true"></p-chips>
  </div>

  <div *ngIf="isOperatorTypeSingle()" class="ui-g-12">
    <input pInputText type="text" [(ngModel)]="restriction.value" />
  </div>
</div>
